html{
height: 100%;
}

.column:hover {
  animation: shake 3s;
  animation-iteration-count:3;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

<style>

.container{
position: relative;
font-family: arial;
transition: transform .2s;
width: 200px;
height: 200px;

}
.text-block:hover{
transform: scale(1.1);	
}
.text-block{

}
</style>
.container{
position: relative;
font-family: arial;
}
.text-block{
position: absolute;
bottom: 4px;
left:  1px;
 background: rgba(0, 0, 0, 0.5);
color: white;
padding-left: 20px;
padding-right:20px;
}	
body{
background-color: #ebedee;
font-family: 'Rajdhani';font-size: 22px;
}
p{
font-family: raleway;
margin-left:1.66%;
font-size: 23px;
font-weight: 700;
text-transform: uppercase;	
}
.topnav{
overflow: hidden;
background-color: transparent;
border-bottom:1px solid black;
padding-bottom: 1px;
margin: 1.66%;
}
.topnav a{
color: #f2f2f2;
text-align:center;
padding: 14px 16px;
text-decoration: none;
}
.topnav a.active{
background-color: transparent;
color: black;
}
.two{
position:absolute;
display: block;
width: 50%;
height:400px;
/*position:relative;*/
left: 800px;
top: 180px;
}
<style>{
box-sizing: border-box;
}
.column{
float: left;
width: 28%;
padding: :5px;
height: 200px;
border:0.5px solid black;opacity: 0.5px;
}
.row:after{

content: "";
display: table;
clear: both;	
}
.row
{display: block;
height:100px;
margin-left:0px;
padding: 1px;
}
/*.column1{	
float: right;
width: 69.8%;
padding: :5px;
height: 269px;
border:0.5px solid black;opacity: 0.5px;
}*/
.card{
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
max-width: 300px;
margin:1.66%;
text-align: center;
font-family: arial;
transition: 0.3s;
    width: 40%;
 transition: 0.3s;
 transition: 0.3s;
 width:400px; 
 display:inline-block;  
}

.grid
{
width:100%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.title{
color:grey;
font-size: 18px;	
}

button{
border:none;
outline: 0;
display: inline-block;
padding:8px;
color:white;
background-color: #000;
text-align: center;
cursor: pointer;
width: 100%;
font-size: 18px;
}


a{
text-decoration: none;
font-size: 22px;
columns: black;	
}

button.hover, a:hover{
opacity: 0.7
}

h1{}
h2{
font-size: 50px;
}
h3{

}
h4{
font-family: PTSansNarrow;
font-size: 40px;	
}
h5{
font-size: 20px
}
h6{}

